<div class="container-fluid center-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <mat-form-field class="col-sm" style="width: 124%;">
        <input matInput placeholder="Email" formControlName="email" required>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="col-sm" style="width: 124%;">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
      </mat-form-field>
    </div>

    <div style="display: flex; justify-content: space-between;">
      <button mat-raised-button color="primary" style="font-size: 18px; margin-right: 10px;" type="submit" [disabled]="loginForm.invalid">Login</button>
      <button mat-raised-button color="primary" style="font-size: 18px; margin-left: 10px;" (click)="goToSignUp()">Sign Up</button>
    </div>
  </form>

  <div>
    <a href="javascript:void(0)" (click)="goForgotPassword()">Forgot Password?</a>
  </div>
</div>
